/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

.container2 {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 100% auto;

    a {
        color: white;
    }

    h2 {
        text-align: center;
    }

    table, td, th {  
        border: 1px solid #ddd;
        text-align: left;
      }

      thead {
        background-color: #4A5568;
        color: #ddd;
      }
      
      table {
        border-collapse: collapse;
        width: 100%;
      }
      
      th, td {
        padding: 15px;
    }
}

.btn {
    box-sizing: border-box;
    appearance: none;
    border-radius: 0.6em;
    cursor: pointer;
    align-self: center;
    line-height: 1;
    margin: 10px;
    padding: .8em 1.5em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    
    
}

.btn-success {
    border-color: #00aeda;
    background-color: #00aeda;
    color: #fff;
}

.btn-danger {
    border-color: #9C0202;
    background-color: #9C0202;
    color: #fff;
}

.btn-primary {
    border-color: gray;
    background-color: gray;
    color: #fff;
    width: 125px !important;
}
