<div class="container">
  <h2 class="text-center">Editar Categoria</h2>
</div>
<div class="container" *ngFor="let cat of dadosCategoria">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id" style="display: none;" value="{{cat.id}}">
    </div>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" formControlName="nome" placeholder="nome" name="nome" class="form-control" id="nome" value="{{cat.nome}}">
    </div>
    <button class="btn btn-primary" (click)="voltar()">Voltar</button>
    <button class="btn btn-success">Guardar</button>
  </form>
</div>