<div class="container">
  <h2 class="text-center">Adicionar Categoria</h2>
</div>
<div class="container">
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" formControlName="nome" placeholder="nome" name="nome" class="form-control" id="nome">
    </div>
    <button class="btn btn-primary" (click)="voltar()">Voltar</button>
    <button class="btn btn-success">Adicionar</button>
  </form>
</div>