
<div class="container2">
  <div class="row">
    <div class="col-md-12">
      <h2 style="margin: auto"> Listagem de Categorias</h2>
      <div class="align-right">
        <button class="btn btn-primary" style="width:100px" (click)="addCategoria()"> Adicionar</button>
      </div>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th width="20%">ID</th>
          <th width="60%">Nome</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cat of dadosCategorias">
          <td>{{cat.id}}</td>
          <td>{{cat.nome}}</td>
          <td><button class="btn btn-danger" (click)="deleteCategoria(cat)"> Eliminar</button>
            <button class="btn btn-success" (click)="editCategoria(cat)" style="margin-left: 20px;"> Editar</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>