<header>
  <div class="container">
    <a routerLink="/" class="logo">{{ appTitle }}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/categorias/list">Categorias</a></li>
        <!-- <li><a routerLink="/sobre">Sobre</a></li> -->
        <li><a routerLink="/contactos">Contactos</a></li>
      </ul>
    </nav>
  </div>
</header>
